/06-basic_descriptives.ipynb
/07-nb_regression.html
/08-comment_analysis.ipynb
/08-top_videos.ipynb
/06-regressions.html
/07-top_videos.ipynb
/05-basic_descriptives.ipynb
/01-build_metadata.ipynb
/07-plot_regressions.ipynb
/08-bayes_r2_synthetic_test.ipynb
/10-plot_hurdle_models.ipynb
/08-plot_regressions.ipynb
/11-top_videos.ipynb
/12-bayes_r2_synthetic_test.ipynb
/13-whisper_wer.html
/14-validate_popbert.html
