/view_count_violin_vertical.pdf
/view_count_violin_vertical.svg
/view_count_violin.pdf
/view_count_violin.svg
/nb_regression_like_count.pdf
/nb_regression_like_count.svg
/nb_regression_like_count_vertical.pdf
/nb_regression_like_count_vertical.svg
/co_commenter_network.svg
/populism_per_party.svg
/view_count.svg
/nb_regression_view_count.svg
/reg_ame_views_elite.svg
/reg_ame_views_pplcentr.svg
/reg_ame_likes_elite.svg
/reg_ame_likes_pplcentr.svg
/reg_views_elite.svg
/reg_views_pplcentr.svg
/reg_likes_elite.svg
/reg_likes_pplcentr.svg
/elite_over_time.svg
/pplcentr_over_time.svg
/bayes_r2_synthetic.svg
/bayes_r2_synthetic_coefficients.svg
/hurdle_model_coefficients.svg
/view_count.pdf
/populism_per_party.pdf
/elite_over_time.pdf
/pplcentr_over_time.pdf
/reg_views_elite.pdf
/reg_views_pplcentr.pdf
/reg_likes_elite.pdf
/reg_likes_pplcentr.pdf
/hurdle_model_coefficients.pdf
/hurdle_model_coefficients.eps
/view_count.jpg
/populism_per_party.jpg
/elite_over_time.jpg
/pplcentr_over_time.jpg
/bayes_r2_synthetic.jpg
/bayes_r2_synthetic_coefficients.jpg
/hurdle_model_coefficients.jpg
/reg_views_elite.jpg
/reg_views_pplcentr.jpg
/reg_likes_elite.jpg
/reg_likes_pplcentr.jpg
/reg_views.jpg
/populism_over_time.jpg
