/view_count_violin_vertical.pdf
/view_count_violin_vertical.svg
/view_count_violin.pdf
/view_count_violin.svg
/nb_regression_like_count.pdf
/nb_regression_like_count.svg
/nb_regression_like_count_vertical.pdf
/nb_regression_like_count_vertical.svg
