/view_count_violin_vertical.pdf
/view_count_violin_vertical.svg
/view_count_violin.pdf
/view_count_violin.svg
/nb_regression_like_count.pdf
/nb_regression_like_count.svg
/nb_regression_like_count_vertical.pdf
/nb_regression_like_count_vertical.svg
/co_commenter_network.svg
/populism_per_party.svg
/view_count.svg
/nb_regression_view_count.svg
/reg_ame_views_elite.svg
/reg_ame_views_pplcentr.svg
/reg_ame_likes_elite.svg
/reg_ame_likes_pplcentr.svg
/reg_views_elite.svg
/reg_views_pplcentr.svg
/reg_likes_elite.svg
/reg_likes_pplcentr.svg
